# 3. Joint Probability Tables

...

In [1]:
%run '_preamble.ipynb'

Python version: 3.8.10
The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

available imports:
  import os
  import logging
  import pandas as pd
  import numpy as np

connect to this kernel with:
  jupyter console --existing ff9eb0fd-50bc-4470-a72d-deecf3657600

Could not create logging directory "../logs"
Logging to: "../logs/notebook.log"
Current date/time: 11-06-2021, 21:27
Current working directory: "/Users/melle/software-development/thomas-master/notebooks"

In [2]:
import thomas.core
from thomas.core import Factor, JPT, CPT

from IPython.display import display, HTML

In [3]:
def subset(full_dict, keys):
    """Return a subset of a dict."""
    return {k: full_dict[k] for k in keys}

In [4]:
filename = thomas.core.get_pkg_filename('dataset_17_2.csv')
df = pd.read_csv(filename, sep=';', index_col='Case')

print(f'df.shape: {df.shape[0]} rows x {df.shape[1]} cols')
df.head()

df.shape: 16 rows x 3 cols

      H  S  E
Case
1     T  F  T
2     T  F  T
3     F  T  F
4     F  F  T
5     T  F  F

In [5]:
cols = ['H', 'S', 'E']

In [6]:
counts = df.groupby(cols).size()
counts.name = 'counts'
counts

H  S  E
F  F  F    1
      T    2
   T  F    1
T  F  F    1
      T    9
   T  T    2
Name: counts, dtype: int64

In [7]:
pd.DataFrame(counts)

       counts
H S E
F F F       1
    T       2
  T F       1
T F F       1
    T       9
  T T       2

In [8]:
Factor.from_data(df, complete_value=0)

factor(H,S,E)
H  S  E
F  F  F    1.0
      T    2.0
   T  F    1.0
      T    0.0
T  F  F    1.0
      T    9.0
   T  F    0.0
      T    2.0
dtype: float64

In [9]:
Factor.from_data(df, complete_value=1/8).normalize()

factor(H,S,E)
H  S  E
F  F  F    0.0662
      T    0.1250
   T  F    0.0662
      T    0.0074
T  F  F    0.0662
      T    0.5368
   T  F    0.0074
      T    0.1250
dtype: float64

In [10]:
# A JPT is normalized by default
JPT.from_data(df)

JPT(H,S,E)
H  S  E
F  F  F    0.0625
      T    0.1250
   T  F    0.0625
      T    0.0000
T  F  F    0.0625
      T    0.5625
   T  F    0.0000
      T    0.1250
dtype: float64